body {
  font-family: Optima, 'PingFang SC', 'Source Han Sans SC', 'Noto Sans CJK SC', 'Source Han Serif SC', 'Noto Serif CJK SC', 'Source Han Serif SC', 'Lucida Sans', Calibri, Candara, Arial, 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', 'Microsoft YaHei', sans-serif;
}
code {
  font-family: "Lucida Console", 'Andale Mono', 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
pre code {
  font-family: Consolas, "Lucida Console", Monaco, 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
